.bio {
    max-width: 600px;
    margin: 0 auto;
    line-height: 32px;
}

.external-link {
    cursor: pointer;
}

.external-link:hover {
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        color: #FF4136;
    }
    100% {
        color: #183bff;
    }
}


.headshot { 
    max-width: 400px;
    border-radius: 15px;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    }
    @keyframes fadeIn {
    1% {opacity:0.1;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
        1% {opacity:0.1;}
        100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
        1% {opacity:0.1;}
        100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
        1% {opacity:0.1;}
        100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
        1% {opacity:0.1;}
        100% {opacity:1;}
    }

