.App {
  text-align: center;
  height: 100vh
}

.navigation {
  background-color: darkgrey;

}

.navbar {
  display: flex;
  flex-direction: row-reverse;
}

.navItem {
  
  padding: 10px;
}

.about, .contact, .projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio, .messagebox {
  width: 75vmin;
  border-radius: 25px;
  border: 2px solid;
  padding: 20px; 
      
}

/*timer stuff */
#timer {
  position: relative;
  width: 150px;
  padding: 15px;
  background: darkorange;
  border-radius: 8px 8px 0 0;
}
.buttons {
  width: 150px;
  padding: 15px;
  background: darkgrey;
  border-radius: 0 0 8px 8px;
}