@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.App {
  scroll-behavior: smooth;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.banner {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
